<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nr.settings"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".SubSettingsActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".HiddenAnimActivity"
            android:label="@string/hidden_anim_activity_title"
            android:excludeFromRecents="true" />

        <!-- DUI -->

        <!-- System action picker -->
        <activity android:name="com.nr.settings.ActionPickerDialogActivity"
                android:theme="@style/Theme.SmartBar.Dialog"
                android:label="@string/choose_action_title"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Icon pack picker -->
        <activity android:name="com.nr.settings.IconPickerActivity"
                android:theme="@style/Theme.SmartBar.Dialog"
                android:label="@string/icon_pack_picker_dialog_title"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Icon picker proxy for gallery -->
        <activity android:name="com.nr.settings.IconPickerGallery"
            android:theme="@style/Theme.SmartBar.Dialog"
            android:label="@string/icon_pack_picker_dialog_title"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Icon pack grid -->
        <activity android:name="com.nr.settings.IconPackGridActivity"
                android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>    

    </application>
</manifest>